.logo-image {
    width: 55px;
    height: 55px;
    border-radius: 20%;
    margin-top: -2px;
    object-fit: cover;
    margin-left: 10px;
}

.navbar {
    background-image: linear-gradient(to right, rgb(234, 202, 167), bisque);    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: blue;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.nav-logo {
    color: #977316;
    margin-top: 3px;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
    font-family: 'Martel', serif;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-links {
    padding: 0.5rem 1rem;
    height: 100%;
    color: black;
}

.fa-code {
    margin-left: 1rem;
}

.nav-item {
    line-height: 40px; 
    margin-right: 1rem;
}

.nav-item:after {
    content: "";
    color: black;
    background: white;
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.4s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: black;
    color: black;
}

.nav-item .active {
    color: black;
    border-bottom: 1px solid black;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 980px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1pxsolid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
    }

    .nav-menu.active {
        background: beige;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-item.active {
        color: #977316;
        border: none;
    }

    .nav-links {
        padding: 1.0rem;
        width: 100%;
        display: table;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer; 
        color: #977316;
    }

}






 